ion-content.background{
  --background: url("/assets/img/paisaje.jpeg") 0 0/100% 100% no-repeat;
}

#centradotabla{
  border:3px solid rgb(110, 108, 108);
  border-radius: 20px;
  width: 70%;
  height: 55%;
  text-align: center;
  margin: 0 auto;
  font-size:larger;
  background-color: white;
  box-shadow: 0 0 15px #45a6c4;
}


#encabezado{
  margin: 0 auto;
  width:100%;
  height:10% ;
}


#thEncabezado{

  width:100%;
  height:15% ;
}

#tablaCentral{
  margin: 0 auto;
  width:90%;
  height:80% ;
}

#thEncabezadoTablaCentral{
  column-span: 2;
  margin: auto;
  width:30% ;height:30% ;
}

#thEncabezadoTablaCentral2{
  column-span: 2;
  margin: auto;
  width: 1cm;height: 1cm;
}

#thEncabezadoTablaCentral3{
  column-span: 2;
  margin: auto;
  width: 2cm;height: 1cm;
}

#thEncabezadoTablaCentral4{
  column-span: 2;
  margin: auto;
  width: 1cm;height: 2cm;
}

#colorEtiqueta{
  color: rgb(78, 169, 238);
  text-align: center;
}

#th1TablaCentro{
  
  width:10% ;
  height:20% ;
}

#imgTabla{
  width:75% ;
  height:75% ;
}

#th2TablaCentro{
  width:10% ;
  height:20% ;
}

#th3TablaCentro{
  width:10% ;height:20% ;
}

#th4TablaCentro{
  width:10% ;height:20% ;
}

#tableContraseña{
  width:50% ;height:10% ;
  margin:0 auto;
}


#boton1{
  size: default;
  width:60% ;font-size: medium;
  height: 1cm;
}

#boton{
  margin: auto;
  width:70% ;height:1cm ;
}


#botonSing{
  height: 45%;width: 60%;
}



#tablaBotonSingUp{
margin: auto;
width:80% ;height:10% ;
}

#labelNoTengoCuenta{
  position: floating;
  font-size: small;color: rgb(73, 71, 69);

}

#footerTabla{
  margin: auto;
  width:100%;height:10% ;
}

#thFooter{
 width:100%;height:15% ;
  }

  ion-item {
    --ion-item-background: transparent;
}

#boton2{
  width:3cm ;
  height: 30px;
  color: rgb(73, 138, 203);
}

#thSignUpButton{
  width: 1cm;height: 1cm;
}

#botonCondiciones{
  width: 7cm;
  height: 100%;
  margin: auto;
}

#signUp{
  width: 55%;
  height: 11%;
  border:3px solid rgb(110, 108, 108);
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
  font-size:larger;
  background-color: white;
  box-shadow: 0 0 15px #45a6c4;
}

#divLogin{
  margin: auto;
  height: 2cm;
  width: 5cm;
}

#botonSingUp{
  font-size: medium;
  margin: auto;
  
}