
<ion-content class="background">

 <p>hola</p>
<br><br><br><br><br><br>

<div id="centradotabla">

  <table id="tablaCentral" >


    <tr>
      <th colspan="2">
        
        <h1 id="colorEtiqueta" >FORGOT PASSWORD</h1>
  <br>
        
        <h5>
          Ingresa tu dirección de correo electrónico y te enviaremos instrucciones para restablecer la contraseña.
        </h5>
      </th>
    </tr>
  
    <tr>
  <br>
      <tr>
        <th id="th1TablaCentro" align="right" >
          <ion-img id="imgTabla" aling="left" src="assets/img/email.png" ></ion-img>
        </th>
    
        <th id="th2TablaCentro" >
          <ion-item fill="solid">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" ngModel email></ion-input>
            <ion-note slot="helper">Enter a valid email</ion-note>
            <ion-note slot="error">Invalid email</ion-note>
          </ion-item>
        </th>
        
    </tr>
  </table>

</div>

 
<br>

<table id="boton" >
  <tr>
    <th>
      <ion-button id="estiloBoton" [routerLink]="['/login']" size="default" fill="solid" >RESTABLECER</ion-button>
    </th>
  </tr>
</table>
        
       

</ion-content>

 <!--<footer>
  <table id="footerTabla"  >
    <tr>
      <th id="thFooter">-->
       <!-- <ion-img class="imgHead" src="assets/img/azulDifuminado.jpg"></ion-img>-->
        <!--<ion-img class="imgHead" src="assets/img/azulDifuminado.jpg"></ion-img>
      </th>
    </tr>
  </table>
</footer>
-->





