<br>



  <ion-content class="background">

    <!--
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Blank</ion-title>
      </ion-toolbar>
    </ion-header>
  -->
    <!--  <div id="container">
      <strong>Ready to create an app?</strong>
      <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    </div>
  -->
  
  
  <table id="table2">
  <tr>
    <th><h3>Holamundo</h3></th>
  </tr>
  <tr>
    <th><h3>2</h3></th>
  </tr>
  
  </table>
  
  <br>
  
  <div id="redondo">
   <h5 id="titulo">Titulo</h5>
   <br>
   <ion-img id="userfoto" src="assets/img/user.png"></ion-img>
  </div>
  
  
  </ion-content>
