ion-content.background{
  --background: url("/assets/img/paisaje.jpeg") 0 0/100% 100% no-repeat;
}
  
  #encabezado{
    margin: 0 auto;
    width:100%;
    height:10% ;
  }
  
  
  #thEncabezado{
  
    width:100%;
    height:15% ;
  }
  
  #centradotabla{
    border:3px solid rgb(110, 108, 108);
    border-radius: 20px;
    width: 70%;
    height: 60%;
    text-align: center;
    margin: 0 auto;
    font-size:larger;
    background-color: white;
    box-shadow: 0 0 15px #45a6c4;
  }
  

  #tablaCentral{
    margin: 0 auto;
    width:70%;
    height:20% ;
  }
  

  #thEncabezadoTablaCentral{
    margin: auto;
    width:30% ;height:30% ;
  }
  
  
  
  #colorEtiqueta{
    color: rgb(78, 169, 238);
  }
  
  #th1TablaCentro{
    
    width:10% ;
    height:20% ;
  }
  
  #imgTabla{
    width:75% ;
    height:75% ;
  }
  
  #th2TablaCentro{
    width:10% ;
    height:20% ;
  }
  
  #th3TablaCentro{
    width:10% ;height:20% ;
  }
  
  #th4TablaCentro{
    width:10% ;height:20% ;
  }

  #th5TablaCentro{
    width:10% ;height:20% ;
  }

  #tablaCondiciones{
    width:80% ;height:10% ;
    margin: auto;
  }

  #tablaRegistro{
    margin: auto;
    width:50% ;height:10% ;
    }
  


  #tableContraseña{
    width:50% ;height:10% ;
    margin:0 auto;
  }
  
  
  #boton1{
    size: default;
    width:100% ;
  }
  
  
  #footerTabla{
    margin: auto;
    width:100%;height:10% ;
  }
  
  #thFooter{
   width:100%;height:15% ;
    }

    ion-item {
      --ion-item-background: transparent;
  }

  #checkbox{
    background-color: rgb(229, 238, 238);
    border:3px solid rgb(110, 108, 108);
    border-radius: 20px;
    width: 90%;
    height: 70%;
    margin: auto;
  }